<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ('common/head', {title: 'Tra cứu thông tin trúng tuyển - BVU'}) %>
</head>
<body>

    <%- include ('common/header') %>
    

    <div id="middle">
        <div>Tra cứu thông tin trúng tuyển Đại học hệ chính quy 2020</div>
        <div id="main">
            <form action="/" method="POST">
                <input type="text" name="input" id="txtInput" 
                    placeholder="Nhập Số báo danh hoặc Họ tên" autofocus required
                    oninvalid="setCustomValidity('Vui lòng điền vào trường này')"
                    oninput="setCustomValidity('')"
                />
                <input type="submit" id="btnSubmit" value="Tra cứu"/>
            </form>
        </div>
    </div>

        
    <%- include ('common/footer') %>
</body>
</html>