<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ('common/head', {title: 'Quản trị | Tra cứu thông tin trúng tuyển - BVU'}) %>

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/8b6aca798e.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src="scripts/jquery-3.5.1.min.js"></script>

    <link rel="stylesheet" href="scripts/jquery-spinner.css">
    <script src="scripts/jquery-spinner.min.js"></script>

    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
</head>
<body id="body">

    <%- include ('common/header') %>


    <!-- editingNotes modal -->
    <div class="modal fade" id="editingNotesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa Ghi chú (Plain text/HTML)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="txtNotes" class="form-control" rows="10" cols="15" aria-label="With textarea"><% if (locals.notes) {%><%- notes %><% } %></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="button" class="btn btn-primary" id="btnSaveNotes">Lưu</button>
            </div>
        </div>
        </div>
    </div>



    <div id="middle">
        <div id="title">
            <p style="margin-bottom: 5px;">Trang quản trị</p>
            <p>Tra cứu thông tin trúng tuyển Đại học hệ chính quy 2020</p>
        </div>


        <div id="main">
            <div class="container">
                <div class="row text-center mb-5">
                    <div class="col">
                        <a href="logout" id="btnLogout" class="btn btn-danger px-4 py-2">Đăng xuất</a>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 col-sm-0"></div>
                    <div class="col-md-3 col-sm mb-2 text-center d-flex align-items-stretch">
                        <button type="button" class="btn btn-primary btn-block px-3" data-toggle="modal" data-target="#editingNotesModal"
                        id="btnEditNotes">
                        <i class="far fa-edit"></i>
                            <span>Chỉnh sửa Ghi chú</span>
                        </button>
                    </div>
                    <div class="col-md-3 col-sm mb-2 text-center d-flex align-items-stretch">
                        <a href="/statistics#chart" target="_blank" type="button" class="btn btn-info btn-block px-3">
                            <i class="fas fa-chart-line"></i>
                            <span>Xem thống kê truy cập</span>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-0"></div>
                </div>
                <div class="row mb-5 text-center">
                    <div class="col-md-3 col-sm-0"></div>
                    <div class="col-md-3 col-sm mb-2 d-flex align-items-stretch">
                        <a href="upload/template.xlsx" id="btnCheck" class="btn btn-warning btn-block">
                            <i class="fas fa-file-download"></i>
                            <span>File dữ liệu mẫu</span>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm mb-2 d-flex align-items-stretch">
                        <a href="upload/ds.xlsx" id="btnGetCurrentFile" class="btn btn-warning btn-block">
                            <i class="fas fa-file-download"></i>
                            <span>File dữ liệu hiện hành</span>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-0"></div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3 col-sm-0"></div>
                    <div class=" alert alert-danger p-3" role="alert">
                        Lưu ý: File dữ liệu mới khi tải lên sẽ thay thế dữ liệu hiện hành trên Máy chủ<br>
                        Vui lòng kiểm tra kĩ dữ liệu trước khi Tải lên.
                    </div>
                    <div class="col-md-3 col-sm-0"></div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3 col-sm-0"></div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="custom-file-input py-3" id="txtFile">
                                <label class="custom-file-label" id="txtFileName" for="txtFile">Chọn tệp</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-0"></div>
                </div>

                <div class="row text-center mt-2">
                    <div class="col">
                        <button class="btn btn-success px-2" id="btnSubmitFile"disabled>
                            <i class="fas fa-cloud-upload-alt"></i>
                            Tải dữ liệu lên
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p id="txtTableRows">Bảng này có 0 dòng.</p>
            <table id="tblResult" class="ordinal">
                <tr>
                    <td>STT</td>
                    <td>Số báo danh</td>
                    <td colspan="2">Họ và tên</td>
                    <td>Giới tính</td>
                    <td>Ngày sinh</td>
                    <td>Tổ hợp môn</td>
                    <td>Ngành trúng tuyển</td>
                    <td>Điểm trúng tuyển</td>
                </tr>
                <tr id="txtTableEmpty">
                    <td colspan="9">
                        Chưa chọn file.
                    </td>
                </tr>
            </table>
        </div>
    </div>

        

    <script src="scripts/xlsx.full.min.js"></script>
    <script src="scripts/toastr.min.js"></script>
    <link rel="stylesheet" href="scripts/toastr.min.css">
    <script src="scripts/upload.js"></script>
</body>
</html>