
<div id="alert" <% if (locals.notes) if (notes.length == 0) { %> style="display: none" <% } %> >
    <% if (locals.notes) { %>
        <%- notes %>
    <% } %>
</div>


<footer>

    <div id="footer-info">
        <div id="logo">
            <img src="bvu-logo.png" alt="">
        </div>
    
        <div id="location">
            <h4>TRƯỜNG ĐẠI HỌC BÀ RỊA VŨNG TÀU</h4>
            <p>80 Trương Công Định, Phường 3, Tp.Vũng Tàu</p>
        </div>
    </div>


    <p>
        Bản quyền © 2020 Trường Đại học Bà Rịa - Vũng Tàu
    </p>

</footer>